/* silder styles */

.main-slider {
  width: 100wh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-slider a {
  display: block;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #FFF;
  text-decoration: none;
  transition: .5s;
  z-index: 2;
}

.main-slider a:hover {
  color: #94B618;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-out;
}

.slide {
  width: 100%;
  height: 100vh;
  flex: 0 0 100%;
  position: relative;
  overflow: hidden;
}

/* color overlay to make text clear */
.slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: imageScale;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes imageScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

#slider .slide .title {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: #FFF;
  z-index: 2;
}

#slider .slide .title h1 {
  font-size: 3rem;
}

#indicators {
  position: absolute;
  bottom: 5%;
  /* left: 10%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.indicator {
  width: 150px;
  height: 3px;
  background-color: #333;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #888;
}

/* Loader Styles */
/* #loader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999; 
  transform: translate(-50%, -50%);
} */

#loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 150px;
  height: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Content Styles */
#content {
  display: none;
}
